<% content_for :title, "Tracker" %>

<header class="page-header">
  <div>
    <h1>Tracker</h1>
    <p class="muted">O que está rodando agora e o histórico recente por dia.</p>
  </div>
</header>

<%= render "time_entries/manual_form", time_entry: @manual_entry || TimeEntry.new %>

<%= render "home/tracker_entries", day_groups: @tracker_day_groups %>
