<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render "layouts/head" %>
  </head>

  <body>
    <%# Container do flash com id fixo pra que respostas Turbo Stream possam
        atualizá-lo (ex.: aprovar/recusar pedido no painel de admin). %>
    <div id="flash"><%= render "shared/flash" %></div>
    <%= yield %>
  </body>
</html>
